.std {
  display: flex;
  flex-direction: column;
  /* font-size: 9px; */

  background: #fff;
  padding: 0px 4px 0px 30px;
  width: auto;
  margin-top: 4px;
}
.item {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  margin: 6px;
  border-radius: 14px;
}
p {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: initial;
  font-style: italic;
  margin: 30px;
}
